body {
    /*  display: flex; */
    /*  flex-direction: row; */

      cursor: url("images/snip-wide.png"), default;
      
      min-height: 100vh;
      margin: 0;
      padding: 0;
      background-image: url('images/linnn.avif');
      background-repeat: repeat;
      background-size: 50%;
      background-position: left;
      font-family: "Victor Mono", monospace;
      font-size: 8pt;
      
      }

    header {
      pointer-events: none;
      text-align: left;
      font-size: 10pt;
      background: rgba(255, 255, 255, 0);
      color: rgb(189, 15, 47);
      padding: 3px 0;
      position: fixed;
      left: 30px;
      z-index: 10;
      text-shadow: 2px 2px 2px rgb(91, 29, 29);
    }

    footer {
      position: relative;
      text-align: center;
      height: 0px;
      margin-top: 0px;
      font-size: 13px;
      margin-bottom: 30px;
      cursor: url("images/snip-wide.png") pointer;
    }

    .b-header {
      pointer-events: none;
      text-align: right;
      position: fixed;
      bottom: 28px;
      right: 43px;
      font-family: "Victor Mono", monospace;
      font-weight: 400;
      color: rgb(189, 15, 47);
      z-index: 10;
      text-shadow: 2px 2px 2px rgb(91, 29, 29);
    }

    .content {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 50px;
      box-sizing: border-box;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 180px);
      grid-auto-rows: 125px;
      gap: 25px;
      object-fit: contain;
      grid-template-areas:
        "box-1 box-2 box-2 box-3"
        "box-1 box-4 box-5 box-5"
        "box-67 box-67 box-68 box-68"
        "box-69 box-70 box-68 box-68"
        "box-9 box-9 box-18 box-7"
        "box-8 box-6 box-19 box-7"
        "box-75 box-75 box-73 box-73"
        "box-74 box-74 box-77 box-77"
        "box-84 box-84 box-77 box-77"
        "box-10 box-11 box-11 box-12"
        "box-10 box-13 box-13 box-12"
        "box-17 box-17 box-14 box-14"
        "box-17 box-17 box-15 box-16"
        "box-20 box-21 box-21 box-22"
        "box-20 box-23 box-24 box-24"
        "box-25 box-25 box-26 box-27"
        "box-28 box-29 box-30 box-27"
        "box-31 box-31 box-32 box-32"
        "box-31 box-31 box-33 box-34"
        "box-35 box-36 box-33 box-37"
        "box-38 box-38 box-39 box-39"
        "box-78 box-80 box-80 box-79"
        "box-78 box-81 box-81 box-82"
        "box-42 box-43 box-41 box-41"
        "box-40 box-40 box-41 box-41"
        "box-44 box-47 box-48 box-46"
        "box-44 box-49 box-45 box-45"
        "box-50 box-50 box-57 box-57"
        "box-56 box-51 box-51 box-54"
        "box-55 box-51 box-51 box-58"
        "box-52 box-52 box-53 box-53"
        "box-65 box-59 box-59 box-64"
        "box-63 box-63 box-62 box-64"
        "box-87 box-87 box-88 box-88"
        "box-85 box-90 box-89 box-89"
        "box-61 box-61 box-66 box-60"
        "box-91 box-92 box-93 box-93"
        "box-91 box-94 box-93 box-93"
        "box-72 box-72 box-71 box-71"
        "box-86 box-76 box-76 box-83";
    }

    .box {
      position: relative;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      overflow: hidden;
      /*background-color: red;*/
      cursor: url("images/snip-shut.png"), pointer;
    }

    .box img {
      height: 70%;
      object-fit: contain;
      display: block;
      transition: transform 0.2s ease;
      box-shadow: 2.5px 2.5px 4px rgb(0, 0, 0);
    }

    .box:hover img {
      transform: scale(1.05);
    }

    .deco-img {
      pointer-events: none;
      position: absolute;
      z-index: 8;
    }

    .head-bg {
      pointer-events: none;
      position: fixed;
      z-index: 9;
      top: 0;
      left: 0;
    }

    .head-bg-2 {
      pointer-events: none;
      position: fixed;
      z-index: 7;
      bottom: 0;
      right: 0;
    }

    .info-text {
      display: none;
      pointer-events: none;
      position: absolute;
      font-family: "Victor Mono", monospace;
      font-size: 7pt;
      overflow: auto;
      border-radius: 10px;
      width: fit-content;
      height: fit-content;
      background-color: rgba(98, 11, 33, 0.75);
      color: rgb(255, 255, 255);
      padding-left: 3px;
      padding-right: 3px;
      box-sizing: border-box;
      text-align: center;
      width: 80%;
      z-index: 10;

    }

    @font-face {
    font-family: Newake;
    src: url("NewakeFont-Demo.otf") format("opentype");
    }
    
    @font-face {
      font-family: Senza cuore;
      src: url("senza.ttf") format("truetype");
    }
    
    h1 {
      font-family: "Senza cuore";
      text-shadow: 2px 2px 2px rgb(91, 29, 29);
    }

    span {
      font-family: "Yarndings 20";
      color: rgb(148, 13, 13);
    }

    p::first-line {
      font-family: "Bitcount Grid Single", sans-serif;
      font-size: 9pt;
    }

    .info-text.show {
      display: flex;
      pointer-events: auto;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }